[Unit]
Description=kernel optimizations for audiophiles
After=network.target

[Service]
ExecStart=/bin/bash /usr/bin/archphile-optimize
Type=simple

[Install]
WantedBy=multi-user.target
